<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="icon" type="image/png" href="/img/pigeonhead2.png"/>
    
	<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/blueimp-md5/2.17.0/js/md5.min.js"></script>
	<title>鸽，还是不鸽？</title>
	<style>
	    .card {
	        margin: 20px 0;
	    }
	</style>
</head>
<body background="/img/bg.jpg">
	
	<div style="position:fixed;
	    right:5pt;top:0;
	    font-size:22px;
	    color:black;
	    background-color:rgba(225,225,225,0.7);
	    padding:0 0.5em;
	    z-index:999"
	>
            <img src="{{u.avat}}" style="height:22px; border-radius: 50%;"> {{u.disp}} [<a href="logout">登出</a>]
    </div>
	
	<div style="max-width:700px;" class="container">
		<div align='center' style='background-color:rgba(180,180,250,0.5);padding:35px 0 20px;color:#ffffff;margin-bottom:40px'>
			<h1> 鸽，还是不鸽，<br/>这是一个问题</h1>
	    </div>
	    <div class="card">
	        <form class="card-body" action="new" method="post">
	            <div class="form-group" style="max-width:9em">
	                <input name="name" type="text" class="form-control" placeholder="约饭/约电影/..." maxlength=16 required>
	            </div>
	            <div class="form-group" style="max-width:15em">
                    <input name="date" type="date" class="form-control" placeholder="YYYY-MM-DD" required>
                </div>
                <div class="form-group">
                    <textarea name="desc" class="form-control" rows="3" placeholder="备注" maxlength=64></textarea>
                </div>
                <button type="submit" class="btn btn-primary">发起</button>
           </form>
        </div>
           <p style="text-align:right"> <a href="./?all">显示已过期的活动</a></p>
        {% for act in a %}
        <div class="card">
	        <div class="card-body">
	            <h5 class="card-title">{{act.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{act.date}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{act.desc}}</h6>
                <p class="card-text">
                    {% for p in act.pars %}
                    <a href="{{p.url}}" title="{{p.disp}}">
                        <img src="{{p.avat}}" style="height:22px; border-radius: 50%;">
                    </a>
                    {% endfor %}
                </p>
                <a href="{{act.id}}/" class="btn btn-link detail">详情</a>
           </div>
        </div>
        {% endfor %}
	</div>
      
	<script>
	    $('.detail').click(function() {
	        let name = $(this).parent().children(".card-title").text();
	        this.href += md5(name).substr(0,7);
	    });
	</script>
</body>
</html>
